# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
.env/
*.env

# Streamlit secrets
.streamlit/secrets.toml

# Mac system files
.DS_Store

# Python egg and cache
*.egg-info/
.eggs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# IDE/editor folders
.vscode/
.idea/

# OS files
Thumbs.db
